---
import Layout from '../layouts/Layout.astro'
---
<Layout title="About the project">
<div class="grid place-content-center text-white">
    <h1 class="text-2xl font-semibold">About the project</h1>

    <p>
        The SpaceX launches project is a demo for the Astro Course.
    </p>

</div>
</Layout>
