---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About the project">
<div class="grid place-content-center text-white gap-3 mb-4 max-w-[90vw] mx-auto">
    <h1 class="text-2xl font-semibold">About the project</h1>

    <span>
        The SpaceX launches project is a demo for the Astro Course.
        <br />
        The project is built with Astro, Tailwind CSS and the SpaceX API.
    </span>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/RB5tR_nqUEw?si=6QhybCNiZzRiIds3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
</Layout>
