---
import NavButton from './NavButton.astro'
import AboutIcon from './icons/AboutIcon.astro'
import HourGlass from './icons/HourGlass.astro'
import RocketIcon from './icons/RocketIcon.astro';
---

<header class="py-8 px-4 min-w-screen lg:py-16 lg:px-6 grid place-content-center">

    <div class="mb-4 tracking-tight font-extrabold text-white flex flex-col items-center">
        <h2 class="mb-3 text-5xl">
            Rocket Launches 🚀
        </h2>
        <p class="text-gray-500 text-base sm:text-xl dark:text-gray-400 max-w-xl font-light">
            All the information about upcoming rocket launches from SpaceX
        </p>
    </div>

    <nav class="flex flex-row items-center justify-between w-full text-center md:flex-row max-w-xl">
        <NavButton href="/">
            Last Launches
            <RocketIcon slot="before" />
        </NavButton>
        <NavButton href="/about">
            About the project
            <AboutIcon slot="before" />
        </NavButton>
        <NavButton href="/launches-by-year/2010">
            Older Launches
            <HourGlass slot="before" />
        </NavButton>
    </nav>

</header>
