---
---

<header class="py-8 px-4 max-w-xl lg:py-16 lg:px-6">

    <div class="mb-4 text-4xl tracking-tight font-extrabold text-white">
        <h2 class="mb-3">
            Rocket Launches 🚀
        </h2>
        <p class="font-light text-gray-500 text-2xl sm:text-xl dark:text-gray-400">
            All the information about upcoming rocket launches from around the world.
        </p>
    </div>

    <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
        <a href="/">
            Last Launches
        </a>
        <a href="/about">
            About
        </a>
    </nav>

</header>
